@charset "UTF-8";
.layui-form>.content{
	padding-right: 20px;
}

.content .layui-form-item{
	display: flex;
	flex-direction: row;
}

.my-input{
	text-align: center;
    padding: 0;
    width: 40px;
    height: 25px;
    color: #009688;
    margin-right: 5px;
    margin-left: 5px;
}